@import "theme-variables";


// Some custom settings for navbar
.nav.navbar-nav a {
  text-transform: initial!important;
  font-weight: 800!important;
  font-size: 16px!important;
  letter-spacing: 0.015em!important;
}
.form-group {
  color: white!important;
}

// CUSTOM CSS (colors layout)
// Client demand of specific colors

// General
.form-search label {
  color: $text-color!important;
}
// buttons and headers of data-panel
.data-controllers .chart-embed-btn span {
  background-color: $brand-primary;
}
.data-panel .panel-title {
  background: $brand-primary;
}
table.table-grid thead th {
  background: $brand-primary;
}
.social-sharing-toolbox li a {
  background-color: $brand-primary;
}
#modal-embed .modal-body textarea {
  background-color: $brand-terciary;
}

// Budget intro
.body-welcome .budget-intro .budget-step h3 span {
  color: $brand-primary;
}
.body-welcome .budget-intro .budget-step .desc {
  background: $brand-secondary;
}

// Glossary
.body-glossary .icon-term {
  color: $brand-highlight-dark;
}
.body-glossary .glossary-terms h3:before {
  color: $brand-highlight-dark;
}