@import "theme-variables";


// Some custom settings for navbar
.nav.navbar-nav a {
  text-transform: initial!important;
  font-weight: 800!important;
  font-size: 16px!important;
  letter-spacing: 0.015em!important;
}
.form-group {
  color: white!important;
}

// Improve glossary layout colors
.icon-term {
  color: $brand-highlight-dark;
}
.glossary-terms h3:before {
  color: $brand-highlight-dark;
}