
// Colors
// -------------

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:         lighten($gray-base, 96%) !default;


$text-color:            #46535b;

$brand-primary:         #4d841a;
$brand-secondary:       #00523e;
$brand-terciary:        #eee;

$brand-highlight-dark:  $brand-primary;
$brand-highlight-light: #ffaa00; // --c-warning
$brand-dark:            #3B464C; // specific for footer

$link-color:            $brand-primary;
$link-hover-color:      $link-color;
$link-hover-decoration: underline;


// Typography
// -------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

$font-weight-300:         400;
$font-weight-400:         500;
$font-weight-600:         600; 
$font-weight-700:         700; 

$headings-font-weight:    $font-weight-700;


// Container sizes
// -------------

$grid-gutter-width:        30px;

// Large screen / wide desktop
$container-large-desktop:  (1050px + $grid-gutter-width);


// Main Entity Logo
// -------------

$main-entity-logo-width:   220px;
$main-entity-logo-height:  52px;


// Navbar
// -------------

$navbar-border-radius: 0;

// Point at which the navbar becomes uncollapsed
// $grid-float-breakpoint: 992px;  // $screen-md

$dvmi-menu-length: 3;  // Number of items in main menu

// Navbar background color
$navbar-default-bg:       $brand-secondary;
$navbar-default-bg-hover: mix( $navbar-default-bg, white, 75% );

// Navbar options text color
$dvmi-navbar-color: mix( $brand-primary, white, 10% );

$navbar-default-link-active-color:    $brand-highlight-light;
$navbar-default-link-active-bg:       $brand-terciary;


// Footer
// --------------

$footer-color: white;
$footer-bg: $brand-dark;


// Page Header
// --------------

$page-header-bg:            #f5f5f6;
$page-header-border-color:  $gray-lighter;



// Panels
// ---------------

$panel-default-border:      $brand-secondary;
$panel-default-heading-bg:  $brand-secondary;


// Buttons
// --------------

$btn-primary-color:              $brand-secondary;
$btn-primary-color:              white;

$btn-primary-bg:                 $brand-highlight-dark;
$btn-primary-border:             $brand-highlight-dark;

$btn-border-radius-base:         7px; 
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;


// Border Radius
// --------------

$border-radius-base:  7px;
$panel-border-radius: 7px;


// Breadcrumbs
// --------------

$breadcrumb-padding-vertical:   $grid-gutter-width/2;
$breadcrumb-padding-horizontal: $grid-gutter-width/2;
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              $gray-light;
$breadcrumb-separator:          "»";


// Popover
// --------------

$popover-max-width:                   250px;

$popover-border-color:                transparent;
$popover-fallback-border-color:       transparent;

$popover-arrow-width:                 6px;

$popover-arrow-outer-color:           white;
$popover-arrow-outer-fallback-color:  white;


// Tooltips
// --------------

$tooltip-color:               white;
$tooltip-bg:                  $gray;
$tooltip-opacity:             1;


// Modals
// --------------

//** Modal backdrop opacity
$modal-backdrop-opacity:      .75;


// Pagination
// --------------

$pagination-color:                     $brand-secondary;
$pagination-hover-color:               $brand-secondary;

$pagination-active-bg:                 $brand-secondary;
$pagination-active-border:             $brand-secondary;


// Search Form
// --------------

$search-form-bg: $brand-terciary;


// Budget Stream
// --------------

$budget-stream-color: $brand-secondary;


// Year Slider
// --------------

$slider-bg:     $page-header-bg;
$slider-color:  $brand-secondary;


// Data Sources
// --------------

$data-sources-color: $brand-terciary;


// Sankey Viz
// --------------

$sankey-income-color:   $brand-secondary;
$sankey-expense-color:  complement($sankey-income-color);
